.active {
    background-color: white;
    border-radius: 0.3rem;
    /* color: #79ddf9; */
    color: blue;
}

.adminCard thead th {
    border-bottom: 1px solid gray;
    padding: 0.9rem 0rem;
    padding-right: 2rem;
}

.adminCard tbody td {
    border-bottom: 1px solid gray;
    padding: 1rem 0rem;
    padding-right: 0.8rem;
}

button {
    cursor: pointer;
}

select option {
    outline: none;
}

select option:focus {
    outline: none;
}